## Import

In [298]:
import pandas as pd
import numpy as np

In [299]:
sous_nutrition = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\projet 4\\sous_nutrition.csv')
aide_alimentaire = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\projet 4\\aide_alimentaire.csv')
population = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\projet 4\\population.csv')
dispo_alimentaire = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\projet 4\\dispo_alimentaire.csv')
cereales = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\projet 4\\cereales.csv')

### population

In [300]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

In [301]:
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [302]:
population = population.rename(columns={'Valeur': 'population'})

In [303]:
population['population'] = population['population'].multiply(1000)

In [304]:
population.head()

          Zone  Année  population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

### dispo_alimentaire

In [305]:
dispo_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

In [306]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [307]:
dispo_alimentaire = dispo_alimentaire.fillna(0)

In [308]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82.0,0.0,82.0,82.0,0.0,0.0,0.0,0.0,0.0

In [309]:
dispo_alimentaire[['Aliments pour animaux','Autres Utilisations','Disponibilité intérieure','Exportations - Quantité','Importations - Quantité','Nourriture	','Pertes','Production','Semences','Traitement','Variation de stock']] = dispo_alimentaire[['Aliments pour animaux','Autres Utilisations','Disponibilité intérieure','Exportations - Quantité','Importations - Quantité','Nourriture','Pertes','Production','Semences','Traitement','Variation de stock']].multiply(1_000_000)

In [310]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53.0,0.0,53000000.0,0.0,0.0,0.0,53000000.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39.0,2000000.0,3000000.0,0.0,0.0,0.0,39000000.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2.0,0.0,0.0,0.0,0.0,0.0,2000000.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82.0,0.0,0.0,0.0,0.0,0.0,82000000.0

### Aide_alimentaire

In [311]:
aide_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

In [312]:
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [313]:
aide_alimentaire = aide_alimentaire.rename(columns={'Pays bénéficiare':'Zone'})

In [314]:
aide_alimentaire['Valeur']= aide_alimentaire['Valeur'].multiply(1000)

In [315]:
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit    Valeur
0       Afghanistan   2013  Autres non-céréales    682000
1       Afghanistan   2014  Autres non-céréales    335000
2       Afghanistan   2013         Blé et Farin  39224000
3       Afghanistan   2014         Blé et Farin  15160000
4       Afghanistan   2013             Céréales  40504000

### Sous_nutrition

In [316]:
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

In [317]:
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [318]:
sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'],errors='coerce')

In [319]:
sous_nutrition = sous_nutrition.rename(columns={'Valeur': 'sous_nutrition'})

In [320]:
sous_nutrition['sous_nutrition'] = sous_nutrition['sous_nutrition'].multiply(1_000_000)

In [371]:
sous_nutrition.head()

          Zone      Année  sous_nutrition
0  Afghanistan  2012-2014       8600000.0
1  Afghanistan  2013-2015       8800000.0
2  Afghanistan  2014-2016       8900000.0
3  Afghanistan  2015-2017       9700000.0
4  Afghanistan  2016-2018      10500000.0

In [322]:
sous_nutrition = sous_nutrition.fillna(0)

### ANNEE

In [323]:
year = 2017
yearb = 2013

In [324]:
#année 2013
population_filtered_2013 = population[population['Année']==yearb]
aide_alimentaire_filtered_2013 = aide_alimentaire[aide_alimentaire['Année']==yearb]
sous_nutrition_filtered_2013 = sous_nutrition[sous_nutrition['Année']== '2012-2014']

In [325]:
#année 2017
population_filtered_2017 = population[population['Année']==year]
aide_alimentaire_filtered_2017 = aide_alimentaire[aide_alimentaire['Année']==year]
sous_nutrition_filtered_2017 = sous_nutrition[sous_nutrition['Année']== '2016-2018']

## 1ere question Proportion de personnes en sous nutrition

In [326]:
population_sous_nutrition_2017 = pd.merge(population_filtered_2017,sous_nutrition_filtered_2017, on='Zone',how='left')

In [327]:
population_sous_nutrition_2017.head()

             Zone  Année_x  population    Année_y  sous_nutrition
0     Afghanistan     2017  36296113.0  2016-2018      10500000.0
1  Afrique du Sud     2017  57009756.0  2016-2018       3100000.0
2         Albanie     2017   2884169.0  2016-2018        100000.0
3         Algérie     2017  41389189.0  2016-2018       1300000.0
4       Allemagne     2017  82658409.0  2016-2018             0.0

In [328]:
population_totale_2017 = population_sous_nutrition_2017['population'].sum()
print(f'la population mondiale est {population_totale_2017} ')

la population mondiale est 7548134111.0

In [329]:
population_totale_sous_nutrition_2017 = population_sous_nutrition_2017['sous_nutrition'].sum()
print(f'la population mondiale en sous nutrition est {population_totale_sous_nutrition_2017}')

la population mondiale en sous nutrition est 535700000.0

In [330]:
proportion_population_sous_nutrition = round((population_totale_sous_nutrition_2017/population_totale_2017)*100,1)
print(f'La proportion de personnes en état de sous-nutrition est de {proportion_population_sous_nutrition} %')

La proportion de personnes en état de sous-nutrition est de 7.1 %

## 2eme question Nombre théorique de personne qui pourrait être nourries

l'apport en calories moyen pour un être humain est de 2400 calories par jours

In [331]:
dispo_alimentaire_population_2017 = pd.merge(population_filtered_2017,dispo_alimentaire,on='Zone',how='left')

In [332]:
dispo_alimentaire_population_2017.head()

,Zone,Année,population,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t
0,Afghanistan,2017,36296113.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,...,53000000.0,0.0,0.0,53.0,0.0,53000000.0,0.0,0.0,0.0,53000000.0
1,Afghanistan,2017,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,...,41000000.0,2000000.0,40000000.0,39.0,2000000.0,3000000.0,0.0,0.0,0.0,39000000.0
2,Afghanistan,2017,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,...,2000000.0,0.0,2000000.0,2.0,0.0,0.0,0.0,0.0,0.0,2000000.0
3,Afghanistan,2017,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,2017,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,...,82000000.0,0.0,82000000.0,82.0,0.0,0.0,0.0,0.0,0.0,82000000.0

In [333]:
dispo_alimentaire_population_2017['Disponibilité alimentaire (Kcal)'] = dispo_alimentaire_population_2017['Disponibilité alimentaire (Kcal/personne/jour)'] * dispo_alimentaire_population_2017['population']*365
dispo_alimentaire_population_2017.head()

,Zone,Année,population,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal)
0,Afghanistan,2017,36296113.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,...,0.0,0.0,53.0,0.0,53000000.0,0.0,0.0,0.0,53000000.0,6.624041e+10
1,Afghanistan,2017,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,...,2000000.0,40000000.0,39.0,2000000.0,3000000.0,0.0,0.0,0.0,39000000.0,1.324808e+10
2,Afghanistan,2017,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,...,0.0,2000000.0,2.0,0.0,0.0,0.0,0.0,0.0,2000000.0,1.324808e+10
3,Afghanistan,2017,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
4,Afghanistan,2017,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,...,0.0,82000000.0,82.0,0.0,0.0,0.0,0.0,0.0,82000000.0,5.299232e+10

In [334]:
dispo_alimentaire_par_pays_2017 = dispo_alimentaire_population_2017.groupby('Zone').sum()
dispo_alimentaire_par_pays_2017.head()

,Année,population,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal)
Zone,,,,,,,,,,,,,,,,,,,
Afghanistan,121020,2.177767e+09,7.680000e+08,4.150000e+08,2087.0,351.41,33.50,58.26,1.351500e+10,2.780000e+08,2.988000e+09,10735.0,1.135000e+09,1.117100e+10,3.950000e+08,6.300000e+07,-3.680000e+08,1.073500e+10,2.764875e+13
Afrique du Sud,191615,5.415927e+09,5.309000e+09,8.760000e+08,3020.0,564.80,83.58,85.33,6.125600e+10,1.167400e+10,7.517000e+09,29812.0,2.193000e+09,6.326300e+10,2.530000e+08,2.281900e+10,2.153000e+09,2.981200e+10,6.284185e+13
Albanie,185564,2.653435e+08,6.600000e+08,1.740000e+08,3188.0,1095.54,106.48,111.37,4.758000e+09,9.400000e+07,9.330000e+08,3476.0,2.760000e+08,3.964000e+09,5.500000e+07,1.130000e+08,-4.500000e+07,3.476000e+09,3.356077e+12
Algérie,187581,3.849195e+09,4.352000e+09,1.707000e+09,3293.0,809.13,76.48,91.92,4.263000e+10,6.550000e+08,1.740300e+10,31729.0,3.753000e+09,2.635900e+10,4.490000e+08,6.370000e+08,-4.790000e+08,3.172900e+10,4.974753e+13
Allemagne,191615,7.852549e+09,3.020900e+10,7.711000e+09,3503.0,957.52,141.62,101.39,1.622750e+11,5.743100e+10,6.535300e+10,79238.0,3.781000e+09,1.545470e+11,1.551000e+09,3.984200e+10,-1.920000e+08,7.923800e+10,1.056866e+14

In [335]:
dispo_alimentaire_par_pays_2017.reset_index(inplace=True)
dispo_alimentaire_global_2017 = dispo_alimentaire_par_pays_2017[['Zone','Disponibilité alimentaire (Kcal)']]
dispo_alimentaire_global_2017.head()

             Zone  Disponibilité alimentaire (Kcal)
0     Afghanistan                      2.764875e+13
1  Afrique du Sud                      6.284185e+13
2         Albanie                      3.356077e+12
3         Algérie                      4.974753e+13
4       Allemagne                      1.056866e+14

In [373]:
total_Kcal = dispo_alimentaire_global_2017['Disponibilité alimentaire (Kcal)'].sum()
total_Kcal

7635429388975815.0

In [374]:
nombre_theorique_personnes_nourries = round(total_Kcal / 2400)
nombre_theorique_personnes_nourries

3181428912073

## 3eme question ; - le nombre théorique de personnes qui pourraient être nourries. 
Tu devrais pouvoir calculer ça à partir de la disponibilité alimentaire
mondiale des produits végétaux;

In [338]:
dispo_alimentaire_par_pays_2017_végétaux = dispo_alimentaire_par_pays_2017[dispo_alimentaire['Origine']== 'vegetale']

C:\Users\antoi\AppData\Local\Temp\ipykernel_20160\3750609399.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dispo_alimentaire_par_pays_2017_végétaux = dispo_alimentaire_par_pays_2017[dispo_alimentaire['Origine']== 'vegetale']

In [339]:
dispo_alimentaire_par_pays_2017_végétaux

,Zone,Année,population,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal)
1,Afrique du Sud,191615,5.415927e+09,5.309000e+09,8.760000e+08,3020.0,564.80,83.58,85.33,6.125600e+10,1.167400e+10,7.517000e+09,29812.0,2.193000e+09,6.326300e+10,2.530000e+08,2.281900e+10,2.153000e+09,2.981200e+10,6.284185e+13
2,Albanie,185564,2.653435e+08,6.600000e+08,1.740000e+08,3188.0,1095.54,106.48,111.37,4.758000e+09,9.400000e+07,9.330000e+08,3476.0,2.760000e+08,3.964000e+09,5.500000e+07,1.130000e+08,-4.500000e+07,3.476000e+09,3.356077e+12
3,Algérie,187581,3.849195e+09,4.352000e+09,1.707000e+09,3293.0,809.13,76.48,91.92,4.263000e+10,6.550000e+08,1.740300e+10,31729.0,3.753000e+09,2.635900e+10,4.490000e+08,6.370000e+08,-4.790000e+08,3.172900e+10,4.974753e+13
4,Allemagne,191615,7.852549e+09,3.020900e+10,7.711000e+09,3503.0,957.52,141.62,101.39,1.622750e+11,5.743100e+10,6.535300e+10,79238.0,3.781000e+09,1.545470e+11,1.551000e+09,3.984200e+10,-1.920000e+08,7.923800e+10,1.056866e+14
6,Angola,161360,2.385341e+09,9.259000e+09,4.510000e+08,2474.0,701.46,53.54,57.27,3.202900e+10,2.300000e+07,4.416000e+09,15059.0,4.799000e+09,2.885700e+10,3.370000e+08,2.121000e+09,-1.228000e+09,1.505900e+10,2.692484e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Îles Salomon,157326,4.961104e+07,0.000000e+00,2.370000e+08,2383.0,648.91,46.99,56.31,6.950000e+08,1.180000e+08,8.100000e+07,362.0,6.000000e+06,7.390000e+08,0.000000e+00,9.000000e+07,-1.000000e+07,3.620000e+08,5.532235e+11
232,Îles Turques-et-Caïques,2017,3.711500e+04,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
233,Îles Vierges américaines,2017,1.047510e+05,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
234,Îles Vierges britanniques,2017,2.957700e+04,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
235,Îles Wallis-et-Futuna,2017,1.190000e+04,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [340]:
dispo_alimentaire_par_pays_2017_végétaux.reset_index(inplace=True)
dispo_alimentaire_global_2017_végétaux = dispo_alimentaire_par_pays_2017_végétaux[['Zone','Disponibilité alimentaire (Kcal)']]
dispo_alimentaire_global_2017_végétaux.head()

             Zone  Disponibilité alimentaire (Kcal)
0  Afrique du Sud                      6.284185e+13
1         Albanie                      3.356077e+12
2         Algérie                      4.974753e+13
3       Allemagne                      1.056866e+14
4          Angola                      2.692484e+13

In [341]:
total_Kcal = dispo_alimentaire_global_2017_végétaux['Disponibilité alimentaire (Kcal)'].sum()
nombre_theorique_personnes_nourries = round(total_Kcal / 2400)
nombre_theorique_personnes_nourries

2790760832555

## 4eme question : l’utilisation de la disponibilité intérieure
 en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine. Je crois que Julien avait trouvé un moyen de facilement calculer ces proportions.
 Il y a un lien logique entre l’ensemble des 10 variables exprimées en milliers de tonnes sur les utilisations de la disponibilité intérieure, qui peut s’exprimer avec une équation du type : A1 + A2 + ... = disponibilité intérieure = B1 + B2 + ...Mais je ne me souviens plus exactement ! Peux tu la retrouver ?

### equation
production + importations +exportations + variation de sotck =
disponibilité intérieure =
semences + pertes + nourritures + aliments pour animaux + traitement + autres utilisations

donner la part de l'alimentation humaine animale et perdue (est ce que l'on peut aussi calculer les autres ? graphique ?)

In [342]:
population_filtered_2017.head()

              Zone  Année  population
4      Afghanistan   2017  36296113.0
10  Afrique du Sud   2017  57009756.0
16         Albanie   2017   2884169.0
22         Algérie   2017  41389189.0
28       Allemagne   2017  82658409.0

In [343]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53.0,0.0,53000000.0,0.0,0.0,0.0,53000000.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39.0,2000000.0,3000000.0,0.0,0.0,0.0,39000000.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2.0,0.0,0.0,0.0,0.0,0.0,2000000.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82.0,0.0,0.0,0.0,0.0,0.0,82000000.0

In [344]:
dispo_alimentaire_global_population_2017 = pd.merge(dispo_alimentaire_global_2017,population_filtered_2017,on='Zone', how='left')
dispo_alimentaire_global_population_2017.head()

             Zone  Disponibilité alimentaire (Kcal)  Année  population
0     Afghanistan                      2.764875e+13   2017  36296113.0
1  Afrique du Sud                      6.284185e+13   2017  57009756.0
2         Albanie                      3.356077e+12   2017   2884169.0
3         Algérie                      4.974753e+13   2017  41389189.0
4       Allemagne                      1.056866e+14   2017  82658409.0

In [345]:
dispo_alimentaire_global_population_2017['disponibilité_alimentaire_par_personnes'] = dispo_alimentaire_global_population_2017['Disponibilité alimentaire (Kcal)'] / dispo_alimentaire_global_population_2017['population']
dispo_alimentaire_global_population_2017.head()

,Zone,Disponibilité alimentaire (Kcal),Année,population,disponibilité_alimentaire_par_personnes
0,Afghanistan,2.764875e+13,2017,36296113.0,761755.0
1,Afrique du Sud,6.284185e+13,2017,57009756.0,1102300.0
2,Albanie,3.356077e+12,2017,2884169.0,1163620.0
3,Algérie,4.974753e+13,2017,41389189.0,1201945.0
4,Allemagne,1.056866e+14,2017,82658409.0,1278595.0

## 5eme question j’aimerais que tu puisses nous donner les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017,

In [346]:
population_sous_nutrition_2017.head()

             Zone  Année_x  population    Année_y  sous_nutrition
0     Afghanistan     2017  36296113.0  2016-2018      10500000.0
1  Afrique du Sud     2017  57009756.0  2016-2018       3100000.0
2         Albanie     2017   2884169.0  2016-2018        100000.0
3         Algérie     2017  41389189.0  2016-2018       1300000.0
4       Allemagne     2017  82658409.0  2016-2018             0.0

In [347]:
population_sous_nutrition_2017['proportion_sous_nutrition'] = (population_sous_nutrition_2017['sous_nutrition']/ population_sous_nutrition_2017['population'])*100

In [348]:
#ajout d'une colonne pour avoir la proportion de personne en sous nutrition par pays
population_sous_nutrition_2017.sort_values('proportion_sous_nutrition', ascending =True)
population_sous_nutrition_2017.head(10)

,Zone,Année_x,population,Année_y,sous_nutrition,proportion_sous_nutrition
0,Afghanistan,2017,36296113.0,2016-2018,10500000.0,28.928718
1,Afrique du Sud,2017,57009756.0,2016-2018,3100000.0,5.437666
2,Albanie,2017,2884169.0,2016-2018,100000.0,3.467203
3,Algérie,2017,41389189.0,2016-2018,1300000.0,3.140917
4,Allemagne,2017,82658409.0,2016-2018,0.0,0.000000
5,Andorre,2017,77001.0,2016-2018,0.0,0.000000
6,Angola,2017,29816766.0,2016-2018,5800000.0,19.452143
7,Anguilla,2017,14584.0,NaN,NaN,NaN
8,Antigua-et-Barbuda,2017,95426.0,2016-2018,0.0,0.000000
9,Antilles néerlandaises (ex),2017,275186.0,NaN,NaN,NaN

## 6eme question : ceux qui ont le plus bénéficié d’aide depuis 2013

In [349]:
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit    Valeur
0       Afghanistan   2013  Autres non-céréales    682000
1       Afghanistan   2014  Autres non-céréales    335000
2       Afghanistan   2013         Blé et Farin  39224000
3       Afghanistan   2014         Blé et Farin  15160000
4       Afghanistan   2013             Céréales  40504000

In [350]:
aide_alimentaire_par_pays = aide_alimentaire.groupby('Pays bénéficiaire').sum()
aide_alimentaire_par_pays.head()

                   Année     Valeur
Pays bénéficiaire
Afghanistan        32216  185452000
Algérie            78561   81114000
Angola              8054    5014000
Bangladesh         50347  348188000
Bhoutan            24170    2666000

In [351]:
pays_ayant_reçu_le_plus_daide = aide_alimentaire_par_pays.sort_values('Valeur', ascending =False)
pays_ayant_reçu_le_plus_daide.head()

                           Année      Valeur
Pays bénéficiaire
République arabe syrienne  76543  1858943000
Éthiopie                   66460  1381294000
Yémen                      76553  1206484000
Soudan du Sud              44309   695248000
Soudan                     48335   669784000

## 7eme Question
disponibilité par habitant

In [352]:
dispo_alimentaire_par_pays_2017.head()

,Zone,Année,population,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal)
0,Afghanistan,121020,2.177767e+09,7.680000e+08,4.150000e+08,2087.0,351.41,33.50,58.26,1.351500e+10,2.780000e+08,2.988000e+09,10735.0,1.135000e+09,1.117100e+10,3.950000e+08,6.300000e+07,-3.680000e+08,1.073500e+10,2.764875e+13
1,Afrique du Sud,191615,5.415927e+09,5.309000e+09,8.760000e+08,3020.0,564.80,83.58,85.33,6.125600e+10,1.167400e+10,7.517000e+09,29812.0,2.193000e+09,6.326300e+10,2.530000e+08,2.281900e+10,2.153000e+09,2.981200e+10,6.284185e+13
2,Albanie,185564,2.653435e+08,6.600000e+08,1.740000e+08,3188.0,1095.54,106.48,111.37,4.758000e+09,9.400000e+07,9.330000e+08,3476.0,2.760000e+08,3.964000e+09,5.500000e+07,1.130000e+08,-4.500000e+07,3.476000e+09,3.356077e+12
3,Algérie,187581,3.849195e+09,4.352000e+09,1.707000e+09,3293.0,809.13,76.48,91.92,4.263000e+10,6.550000e+08,1.740300e+10,31729.0,3.753000e+09,2.635900e+10,4.490000e+08,6.370000e+08,-4.790000e+08,3.172900e+10,4.974753e+13
4,Allemagne,191615,7.852549e+09,3.020900e+10,7.711000e+09,3503.0,957.52,141.62,101.39,1.622750e+11,5.743100e+10,6.535300e+10,79238.0,3.781000e+09,1.545470e+11,1.551000e+09,3.984200e+10,-1.920000e+08,7.923800e+10,1.056866e+14

In [353]:
dispo_alimentaire_par_pays_2017['disponibilté_par_habitant_par_jour']= (dispo_alimentaire_par_pays_2017['Disponibilité alimentaire (Kcal)']/dispo_alimentaire_par_pays_2017['population'])/365

In [354]:
dispo_alimentaire_par_pays_2017.head()

,Zone,Année,population,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal),disponibilté_par_habitant_par_jour
0,Afghanistan,121020,2.177767e+09,7.680000e+08,4.150000e+08,2087.0,351.41,33.50,58.26,1.351500e+10,...,2.988000e+09,10735.0,1.135000e+09,1.117100e+10,3.950000e+08,6.300000e+07,-3.680000e+08,1.073500e+10,2.764875e+13,34.783333
1,Afrique du Sud,191615,5.415927e+09,5.309000e+09,8.760000e+08,3020.0,564.80,83.58,85.33,6.125600e+10,...,7.517000e+09,29812.0,2.193000e+09,6.326300e+10,2.530000e+08,2.281900e+10,2.153000e+09,2.981200e+10,6.284185e+13,31.789474
2,Albanie,185564,2.653435e+08,6.600000e+08,1.740000e+08,3188.0,1095.54,106.48,111.37,4.758000e+09,...,9.330000e+08,3476.0,2.760000e+08,3.964000e+09,5.500000e+07,1.130000e+08,-4.500000e+07,3.476000e+09,3.356077e+12,34.652174
3,Algérie,187581,3.849195e+09,4.352000e+09,1.707000e+09,3293.0,809.13,76.48,91.92,4.263000e+10,...,1.740300e+10,31729.0,3.753000e+09,2.635900e+10,4.490000e+08,6.370000e+08,-4.790000e+08,3.172900e+10,4.974753e+13,35.408602
4,Allemagne,191615,7.852549e+09,3.020900e+10,7.711000e+09,3503.0,957.52,141.62,101.39,1.622750e+11,...,6.535300e+10,79238.0,3.781000e+09,1.545470e+11,1.551000e+09,3.984200e+10,-1.920000e+08,7.923800e+10,1.056866e+14,36.873684

In [355]:
dispo_alimentaire_par_pays_2017.sort_values('disponibilté_par_habitant_par_jour',ascending=False)

,Zone,Année,population,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal),disponibilté_par_habitant_par_jour
206,Turkménistan,114969,3.281870e+08,2.486000e+09,2.110000e+08,2836.0,675.51,84.14,90.50,7.404000e+09,...,9.360000e+08,3541.0,2.720000e+08,6.338000e+09,1.580000e+08,7.400000e+08,1.800000e+08,3.541000e+09,5.959991e+12,49.754386
100,Lesotho,106901,1.108513e+08,1.000000e+06,0.000000e+00,2528.0,434.51,32.26,73.48,9.660000e+08,...,4.670000e+08,899.0,5.100000e+07,4.180000e+08,5.000000e+06,1.000000e+07,1.140000e+08,8.990000e+08,1.929900e+12,47.698113
98,Kiribati,147241,8.333534e+06,0.000000e+00,1.430000e+08,3042.0,667.19,103.40,73.34,2.410000e+08,...,2.400000e+07,67.0,0.000000e+00,2.690000e+08,0.000000e+00,2.900000e+07,-9.000000e+06,6.700000e+07,1.267531e+11,41.671233
207,Turquie,187581,7.543830e+09,1.775000e+10,3.006000e+09,3708.0,968.15,119.64,108.12,1.313770e+11,...,1.213600e+10,72551.0,1.203600e+10,1.374320e+11,2.553000e+09,2.356000e+10,-3.599000e+09,7.255100e+10,1.097846e+14,39.870968
15,Autriche,191615,8.378906e+08,3.412000e+09,1.001000e+09,3770.0,1069.20,170.44,106.20,1.930800e+10,...,8.463000e+09,9085.0,4.590000e+08,1.812900e+10,1.730000e+08,5.178000e+09,-5.560000e+08,9.085000e+09,1.213662e+13,39.684211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,Sahara occidental,2017,5.526150e+05,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
167,Réunion,2017,8.761340e+05,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
163,République démocratique du Congo,2017,8.139876e+07,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
158,République arabe syrienne,2017,1.709568e+07,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
235,Îles Wallis-et-Futuna,2017,1.190000e+04,0.000000e+00,0.000000e+00,0.0,0.00,0.00,0.00,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000

   ## 8eme question : et toutes les infos que tu trouverais utiles pour mettre en relief les pays qui semblent être le plus en difficulté, au niveau alimentaire

2 tests, est ce que je ois faire plus ou autre chose ?

In [ ]:
dispo_alimentaire_population_2017.sort_values(['Disponibilité alimentaire (Kcal/personne/jour)', 'Population', 'Pertes'], ascending=[True, False,False ]).head()
#pays avce la disponibilté alimentaire est la plus faible avec le plus de population et qui a le plus de pertes

In [ ]:
dispo_alimentaire_population.sort_values(['disponibilté_par_habitant', 'Population','Aliments pour animaux'], ascending=[True,False, False])
#pays avec le moins de disponibilité par habitant, le plus de population et utilise le plus d'aliments pour les animaux

## Utilisation des céréales

Céréales = ['Blé]

## Manioc Tahillande

In [377]:
dispo_alimentaire_population_2017.head()

,Zone,Année,population,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal)
0,Afghanistan,2017,36296113.0,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,...,0.0,0.0,53.0,0.0,53000000.0,0.0,0.0,0.0,53000000.0,6.624041e+10
1,Afghanistan,2017,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,...,2000000.0,40000000.0,39.0,2000000.0,3000000.0,0.0,0.0,0.0,39000000.0,1.324808e+10
2,Afghanistan,2017,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,...,0.0,2000000.0,2.0,0.0,0.0,0.0,0.0,0.0,2000000.0,1.324808e+10
3,Afghanistan,2017,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
4,Afghanistan,2017,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,...,0.0,82000000.0,82.0,0.0,0.0,0.0,0.0,0.0,82000000.0,5.299232e+10

In [378]:
dispo_alimentaire_population_2017_thailande = dispo_alimentaire_population_2017.loc[(dispo_alimentaire['Zone']=='Thaïlande') & (dispo_alimentaire['Produit']=='Manioc')]
dispo_alimentaire_population_2017_thailande

,Zone,Année,population,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Nourriture\t,Disponibilité alimentaire (Kcal)
13809,Suède,2017,9904896.0,Lait - Excl Beurre,animale,54000000.0,33000000.0,391.0,341.23,21.22,...,982000000.0,1.425000e+09,3266.0,0.0,2.910000e+09,0.0,0.0,0.0,3.266000e+09,1.413577e+12

In [ ]:
dispo